node_modules
.next
.env*
.DS_Store
.vercel

/generated/prisma

.next

# ignore dependencies + builds
node_modules
.next
.vercel
.DS_Store

# ignore deps + builds
node_modules
.next
.vercel
.DS_Store
*.bak.*
